
        * {
            margin: 0;
            padding: 0;
            font-family: "Ubuntu", serif;
            box-sizing: border-box;
        }

        body {
            overflow-x: hidden;
            /* Prevent horizontal scroll */
            background: url(./Images/Javed\ nihari\ background.jpg) center/cover no-repeat fixed;
        }

        div.top {
            background-color: #f29d13;
            max-width: 100vw;
            min-height: 4vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;

        }



        .chat a img {
            max-width: 4rem;
            z-index: 50000;
            position: fixed;
            right: 60px;
            bottom: 50px;
        }

        .chat a img:hover {
            transform: scale(1.08);
            /* Slightly enlarge the item on hover */
            cursor: pointer;
            transition: transform 0.8s ease, box-shadow 0.3s ease;
            /* Smooth transition for hover effects */
            filter: invert(10%);
        }

        .btn {
            min-width: 150px;
            max-width: 200px;
            min-height: 40px;
            display: flex;
            flex-direction: row;
            border: 1px solid #f29d13;
            align-items: center;
            color: white;
            background-color: #f29d13;
            border-radius: 5px;
            margin: 5px;
            padding: 4px;
            justify-content: center;
            cursor: pointer;
        }

        .btn:hover {
            transform: scale(1.08);
            /* Slightly enlarge the item on hover */
            cursor: pointer;
            transition: transform 0.8s ease, box-shadow 0.3s ease;
            /* Smooth transition for hover effects */

        }

        div.second {
            min-width: 100%;
            max-height: 30px;
            display: flex;
            flex-wrap: wrap;
            margin: 20px;


        }

        div.second img {
            max-width: 15px;
            margin: 8px;


        }

        #one div.branch {

            margin: 3px;
            text-align: center;
        }

        #two .cell {
            display: flex;
            margin: 3px;
            align-items: center;
            justify-content: center;
        }

        #two .cell img {
            width: 130px;

        }

        .second .btn .loc img {
            width: 11px;
            filter: invert(100%);
            font-weight: 900;
        }

        div.logo {
            position: absolute;
            left: 50%;
            /* Move to the center */
            top: 2.5%;
            transform: translateX(-50%);
            /* Center precisely */
        }

        div.logo img {
            min-width: 10rem;
            display: flex;

        }

        div.slide {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 48px;

        }

        div.slide img {
            width: 100%;
            max-height: 700px;
        }

        .navbar {
            background-color: #f29d13;
            max-width: 100vw;
            height: 8vh;
            margin-top: 0px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 18px;
            font-weight: 500;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            /* Light shadow */
            position: sticky;
            top: 0;
            z-index: 5;
        }

        .navbar ul {
            list-style: none;
            display: flex;
            margin: 4px;
            padding: 6px;
            gap: 30px;
            font-family: "Ubuntu", serif;

        }

        .navbar ul li a {
            text-decoration: none;
            color: black;

            border-radius: 7px;
            padding: 10px 14px;

        }

        .navbar ul li a:hover {
            color: #f29d13;
            background-color: black;

        }

        .navbar ul li a:active {
            color: #f29d13;
            background-color: black;

        }


        .searchbar {

            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100vw;
            margin-top: 32px;




        }

        .searchbar input {
            width: 60vw;
            border: 1px solid #f29d13;
            background-color: white;

            padding: 15px;
            border-radius: 30px;
            font-size: 15px;
            color: #f29d13;
        }

        /* Placeholder style */
        input::placeholder {
            color: #f29d13;
            /* Change placeholder font color */

            font-size: 16px;
            /* Set font size */
        }



        .body-image {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .body-image img {
            width: 60vw;
            height: auto;
            margin-top: 50px;
            border-radius: 18px;
        }

        div.container {
            display: flex;
            /* Aligns items horizontally */


            align-items: flex-start;
            /* Centers items vertically */
            width: 60vw;
            /* Fixed width as per your design */

            margin: 28px auto;
            /* Center horizontally */
            padding: 0px;
            /* Optional: Adds some space inside the container */
            gap: 35px;
            /* Adds space between rows and columns */
            flex-wrap: wrap;


        }

        .container .item {
            display: flex;
            /* Enable flexbox for centering */
            flex-direction: column;
            /* Arrange content vertically */
            align-items: center;
            /* Center content horizontally */
            justify-content: center;
            /* Center content vertically */
            /* border: 1px solid rgb(238, 225, 225); */
            border-radius: 15px;
            min-width: 200px;
            max-width: 260px;
            padding: 20px;
            /* Optional: Add padding for spacing */
            text-align: center;
            /* Center text */

            min-height: 40vh;
            max-height: 55vh;

            overflow: hidden;
            background-color: white;
            /* Add a subtle shadow */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Slightly rounded shadow */

        }

        .container .item:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            /* Larger shadow on hover */
            transform: scale(1.08);
            /* Slightly enlarge the item on hover */
            cursor: pointer;
            transition: transform 0.8s ease, box-shadow 0.3s ease;
            /* Smooth transition for hover effects */
            border: 2.5px solid #f29d13;
            background-color: rgb(255, 240, 216);
        }

        .container .item img {
            min-width: 150px;
            height: 300px;
            z-index: 4;
            overflow: hidden;



        }

        div.price {
            margin-top: 68px;

        }

        div.price .btn {
            border-radius: 50px;
            margin-top: 12px;

        }

        div.price h5 {
            color: #f29d13;

        }


        div.item h3 {
            margin-top: 20px;

        }

        /* div p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 20px;
            background-color: white;
            position: relative;
            left: 0;
            right: 0;
            width: 100%;
    height: 100px;
        } */


        
        footer{
            display: flex;
            
          
        }
        
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  
    padding: 0;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
}

footer ul li{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer ul li a{
 
 color: white;
 margin: 0px 7px;
}
        

 